{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}
{% block header %}{{ header }}{% endblock header %}

{% block content %}
<div class="row g-4 align-items-center">
    <div class="col-md-8">
        <ul class="list-group mb-3">
            {% for fact in facts %}
                <li class="list-group-item">{{ fact }}</li>
            {% endfor %}
        </ul>
        <p class="text-muted">Нравится автоматизация, качество кода и понятная архитектура.</p>
    </div>
    <div class="col-md-4 text-center">
        <img src="{% static 'images/workspace.svg' %}" class="img-fluid rounded border" alt="Рабочее место" />
    </div>
</div>
{% endblock content %}
