<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Библиотека</title>
</head>
<body>
    <h1>Книги</h1>

    <p>
        <a href="{% url 'add_book' %}">Добавить книгу</a> |
        <a href="{% url 'add_author' %}">Добавить автора</a>
    </p>

    <ul>
        {% for book in books %}
            <li>
                {{ book.title }} ({{ book.published_year }}) - {{ book.price }} руб. -
                {% if book.author %}
                    {{ book.author.name }}
                {% else %}
                    Автор не указан
                {% endif %}
            </li>
        {% empty %}
            <li>Нет книг</li>
        {% endfor %}
    </ul>
</body>
</html>
